name: Python package

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Fix HOME directory
        run: echo "HOME=/Users/$(whoami)" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Python version
        run: python3 --version

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt

      - name: Run tests
        run: |
          pip3 install pytest
          python3 -m pytest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            swapnilbabladkar/sbabladkar:latest
            swapnilbabladkar/sbabladkar:${{ github.sha }}
